*{
    font-family: cursive;
    color: #99AEAD;
    width: 100%;
    height: auto;
}

.image {
    position: relative;
    display: inline-block;
  }

.image img {
    display: block;
    width: 100%;
    height: auto;
  }
  .intro {
    position: absolute;
    top: 80%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    padding: 10px 20px; 
  }

  
#welcome{
    color: white;
    font-size: 50;
    text-align: center;
    
}

#secondlnarr{
    color: #C4CDC1;
    font-size: 30;
    text-align: center;
    }

    
     
.Section{
    padding-top:5rem;
    padding-bottom: 10rem;
    padding-left: 10rem;
    background: black;
}

.carousel-item{
    display: block;
    width: 100%;
    height: auto;
}

.SectionTitle{
    font: 50;
    text-align: center;
    color: yellow;
}

.PageFormat p{
    color: #c8fdee;
    padding-left: 40;
    text-align: left;
}
.PageFormat h3{
    font-size: 25;
    color: #C4CDC1;
    text-align: left;
    padding-top: 40;
}

.PageFormat li{
    text-align: left;
}

