*{
    color: #99AEAD;
    width: 100%;
    height: auto;
    font: Arial;
}

.image {
    position: relative;
    display: inline-block;
  }

.image img {
    display: block;
    width: 100%;
    height: auto;
  }
  .intro {
    position: absolute;
    top: 80%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    padding: 10px 20px; 
  }

  
#welcome{
    color: white;
    font-size: 50;
    text-align: center;
    
    font-family: "Frijole", system-ui;
    font-weight: 400;
    font-style: normal;
      
    
}

#secondlnarr{
    color: #C4CDC1;
    font-size: 30;
    text-align: center;
    font-family: "Ojuju", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    }

.ISection{
    padding-bottom: 5REM;
    background-color: BLACK;
}
     
.Section{
    padding-bottom: 5REM;
    padding-left: 10rem;
    background: black;
}

.carousel-item{
    display: block;
    width: 100%;
    height: auto;
}

.SectionTitle{
    font: 50;
    text-align: center;
    color: yellow;
    font-family: "Ojuju", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.PageFormat p{
    color: #c8fdee;
    padding-left: 40;
    text-align: left;
}
.PageFormat h3{
    font-size: 25;
    font-optical-sizing: auto;
    color: #C4CDC1;
    text-align: left;
    padding-top: 40;
}

.PageFormat li{
    text-align: left;
}

